* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    width: 100%;
    height: 100vh;
}

.bottom-bar {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.frame_wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    border: 2px solid black;
}

.frame {
    display: grid;
}

.frame_bg {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.pixel {
    width: 100px;
    height: 100px;
}

.pixel_bg {
    width: 100px;
    height: 100px;
}
