* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    width: 100%;
    height: 100vh;
}

.frame {
    display: grid;
    border: 2px solid black;
}

.pixel {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}